@media only screen and (max-width: 600px)
{
    .profile-details-mobile-container
    {
        display: inline;
        position: fixed;
        z-index: 8;
        top: 56px;
        width: 100%;
        height: 100%;
        background-color: red;
        overflow-x: hidden;
    }
    .profile-section
    {
        position: absolute;
        width: calc(100% - 0px);
    }
    .swipe-section
    {
        height: auto;
        overflow-y: hidden;
    }
    .profile-image
    {
        width: 100%;
        height: auto;
    }
    .profile-no-image
    {
        height: 240px;
        line-height: 240px;
        text-align: center;
        background-color: #f2f2f2;
    }
    .profile-details-card-section
    {
        margin-top: -8px;
    }
    .profile-title-section
    {
        border-bottom: 1px solid #ececec;
    }
    .card-section
    {
        padding-left: 60px;
    }
    .address-section-tags
    {
        margin-top:10px;
        overflow-x: auto;
        white-space: nowrap;

        &::-webkit-scrollbar-track {
            border-radius: 0px;
            background-color: #ffffff;
        }
        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
        &::-webkit-scrollbar-thumb {
            height: 0px;
            border-radius: 0px;
            background-color: #8d8e8d;
        }
    }
    .day-of-week
    {
        padding-bottom: 4px;
    }
    .opening-hours
    {
        text-align: center;
        // letter-spacing: 1px;
    }
    .profile-title
    {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .profile-text
    {
        font-size: 14px;
        color: #4d4d4d;
        letter-spacing: 1px;
        cursor: default;

        .icon
        {
            color: #3eafaf;
            position: relative;
            top: 2px;
            margin-right: 18px;
        }
    }
    .tag-section
    {
        display: block;
    }
    .tag-chip {
        width: auto;
        height: 48px;
        letter-spacing: 1px;
        padding: 4px;

        &:hover
        {
            border-color: #ffaa06;
            color: #000000;
        }
    }
    .hide-content
    {
        overflow: hidden;
        height: 7.6em;
    }
    .show-content
    {
        height: auto;
    }
    .description-section
    {
        padding-left: 44px;
    }
    .full-description-button-section
    {
        // border-bottom: 1px solid #f0f0f0;
    }
    .full-description-button
    {
        font-size: 12px;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 10px;
        background-color: #ECEFF1 !important;

        .icon
        {
            position: relative;
            margin-left: 10px;
        }
    }
    .border-bottom
    {
        border-bottom: 1px solid #f0f0f0;
    }
    .return-button
    {

    }
    .website-chip
    {
        height: 48px;
        margin-left: 0px;
        letter-spacing: 1px;
        padding: 4px;

        &:hover
        {
            border-color: #4b4b4b;
            color: #30c1ff;
        }
    }
}
