.container-cities
{
  background-color: #ffffff;
}
.select-country
{
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 34px;
  letter-spacing: 1px;
  border-bottom: 2px solid #f4f4f4;
}
.search-container
{
  max-width: 100%;
}
.top-image
{
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-page-section
{
  font-size: 44px;

  padding-top: 100px;
  padding-bottom: 100px;

  text-align: center;
  letter-spacing: 2px;

  color: #ffffff;
}
.search-city-section
{
  margin-top: 0px;
  padding-bottom: 100px;
}
.search-city-input
{
  height: 60px;

  &.primary--text
  {
    color: #252bfc !important;
  }
}
.countries-section
{
  column-count: 4;
  column-width: 25%;
  background-color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.country-item
{
  padding-bottom: 12px;
}
.country-name-link
{
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #4d4d4d;
  cursor: default;

  &:hover
  {
    color: #2d2d2d;
  }
}
.loader-section
{
  text-align: center;
  margin-bottom: 100px;
}
