.fade-enter-active, .fade-leave-active
{
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to
{
  opacity: 0;
}
.container-gallery
{
  height: auto;
  min-height: calc(100vh - 64px);

  background-color: #fff;
}
.title-page
{
  font-size: 44px;

  padding-top: 100px;
  padding-bottom: 100px;

  text-align: center;
  letter-spacing: 2px;

  color: #111;
}
.image-section
{
  max-width: 480px;
}
.paging-button
{
  font-size: 12px;

  margin-top: 160px;
  margin-bottom: 160px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  background-color: #2a2f30 !important;
}
.desktop-full-screen-photo
{
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 1);

  html, body
  {
    overflow: hidden !important;
  }
}
.full-size-photo
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;

  width: 80%;
  max-width: 1400px;
  height: auto;
  margin: auto;
}
.info-icon
{
  font-size: 30px;

  position: absolute;
  left: 0;

  margin-top: 16px;
  margin-left: 16px;

  color: #969696;
}
.card-button
{
  font-size: 30px;

  position: absolute;
  right: 0;

  margin-top: 16px;
  margin-right: 16px;

  color: #969696;
}
.dialog-subtitle
{
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.dialog-close-button
{
  font-size: 12px;
  letter-spacing: 2px;
}
