@media only screen and (max-width: 600px)
{
  .full-size-photo
  {
    width: 100%;
  }
  .paging-button-section
  {
    padding-left: 10px;
    padding-right: 10px;
  }
  .paging-button
  {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
