.title-profile
{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 20px;
  border-bottom: 2px solid #000000;
}
.title-subsection
{
  font-size: 20px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}
.subtitle
{
  font-size: 18px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 14px;
  border-top: 1px solid #f2f2f2;
  letter-spacing: 1px;

  .icon
  {
    position: relative;
    top: 2px;
    margin-right: 14px;
    color: #393939;
  }
}
.text
{
  line-height: 1.6;
  font-size: 16px;
}
.opening-hours-section
{
  padding-bottom: 4px;
  font-size: 16px;

  .day-of-week-name
  {
    width: 140px;
    display: inline-block;
  }

  .opening-hours
  {
    width: 140px;
    display: inline-block;
    letter-spacing: 1px;
  }
}
.tags-section
{
  display: inline;
}
.tag
{
  height: 48px;
  letter-spacing: 1px;
  padding: 4px;

  &:hover
  {
    border-color: #ffaa06;
    color: #000000;
  }
}
.map-section
{
  margin-top: 24px;
  margin-bottom: 24px;
}
.map-image
{
  width: 100%;
}
.other-media-section
{
  letter-spacing: 1px;
  padding-bottom: 4px;
}

$icon-color-facebook: #3b5999;
$icon-color-google-plus: #dd4b39;
$icon-color-twitter: #55acee;
$icon-color-youtube: #cd201f;
$icon-color-instagram: #e4405f;
$icon-color-pinterest: #3b5999;
$icon-color-snapchat: #FFFC00;
$icon-color-linkedin: #0077B5;

.other-media-section:hover
{
  .icon-facebook
  {
    color: $icon-color-facebook;
  }

  .icon-gplus
  {
    color: $icon-color-google-plus;
  }

  .icon-twitter
  {
    color: $icon-color-twitter;
  }
  .icon-youtube
  {
    color: $icon-color-youtube;
  }
  .icon-instagram
  {
    color: $icon-color-instagram;
  }
  .icon-pinterest
  {
    color: $icon-color-pinterest;
  }
  .icon-snapchat-ghost
  {
    color: $icon-color-snapchat;
  }
  .icon-linkedin
  {
    color: $icon-color-linkedin;
  }
}
.other-media-icon
{
  margin-left: -2px;
  margin-right: 10px;
  font-size: 22px;
}
.mobile-app-section
{
  margin-top: 20px;
  margin-bottom: 20px;

  .app-subsection
  {
    display: inline;
  }

  .mrg
  {
    margin-left: 20px;
  }
}
.mobile-app-marketplace-logo
{
  width: 30%;
}
