@media only screen and (max-width: 600px)
{
  .container-results
  {
    float: none;

    width: 100%;
  }
  .results-section
  {
    margin-right: 0;
    margin-left: 0;
  }
  .title-section
  {
    margin-left: 10px;
  }
}
