@media only screen and (max-width: 600px)
{
    .container-results
    {
        width: 100%;
        float: none;
    }
    .results-section
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .title-section
    {
        margin-left: 10px;
    }
}
