$scrollbar-track-color: #f4f4f4;
$scrollbar-thumb-color: #b3b3b3;

::-webkit-scrollbar-track
{
  border-radius: 0;
  background-color: $scrollbar-track-color;
}
::-webkit-scrollbar
{
  width: 8px;
}
::-webkit-scrollbar-thumb
{
  border-radius: 0;
  background-color: $scrollbar-thumb-color;
}
.container
{
  padding: 0;

  background-color: #fff;
}
.v-menu__content
{
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  box-shadow: none;
}
.v-menu__content::-webkit-scrollbar-track
{
  border-radius: 0;
  background-color: $scrollbar-track-color;
}
.v-menu__content::-webkit-scrollbar
{
  width: 8px;
}
.v-menu__content::-webkit-scrollbar-thumb
{
  border-radius: 0;
  background-color: $scrollbar-thumb-color;
}
.v-expansion-panel__header
{
  padding: 0;
}
