@media only screen and (max-width: 959px)
{
  .content-container
  {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
  }
  .wrapper
  {
    margin: 0px;
  }
  .content-section
  {
    width: 100%;
    padding-top: 0px;
  }
}
