@media only screen and (max-width: 600px)
{
    .title-section
    {
        font-size: 30px;
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    .category-tiles
    {
        text-align: left;
        font-size: 12px;
        letter-spacing: 2px;
        height: 80px;
        line-height: 80px;

        .category-icon
        {
            margin-left: 12px;
            margin-right: 12px;
        }
    }
    .button
    {
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 12px;
        letter-spacing: 1px;
    }
}
