.title-section
{
    margin-top: 180px;
    margin-bottom: 100px;
}
.logo-section
{
    text-align: center;
    margin-top: -34px;
    margin-bottom: 80px;
}
.text-title
{
    font-size: 40px;
    color: #212121;
    text-align: center;
}
.text-subtitle
{
    font-size: 20px;
    color: #212121;
    margin-top: 4px;
    text-align: center;
}
.section-info
{
    margin-bottom: 140px;
}
.section-info-title
{
    font-size: 30px;
    font-weight: 700;

    padding-bottom: 8px;

    letter-spacing: 1px;

    color: #000;
}
.section-info-description
{
    font-size: 16px;

    letter-spacing: 1px;

    color: #9f9f9f;
}
.section-icon
{
    text-align: center;
}
.info-icon
{
    font-size: 60px;

    position: relative;
}
