@media only screen and (max-width: 959px)
{
  .text-title
  {
    text-align: center;
  }
  .text-subtitle
  {
    text-align: center;
  }
  .section-info-title
  {
    text-align: center;
  }
  .info-icon
  {
    font-size: 44px;
  }
}
