@media only screen and (max-width: 600px)
{
  .text-title
  {
      text-align: center;
      font-size: 26px;
  }
  .text-subtitle
  {
      text-align: center;
  }
  .section-info
  {
      margin-bottom: 60px;
  }
  .section-info-title
  {
      font-size: 26px;
      margin-top: 20px;
      text-align: center;
  }
  .section-info-description
  {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      text-align: center;
  }
  .info-icon
  {
      font-size: 48px;
  }
}
