.navigation-drawer-container
{
    z-index: 1000;
}
.list-section
{
    padding: 0;
}
.list-section-logo
{
    height: 64px;
    line-height: 64px;
}
.close-menu-icon
{
    position: relative;
    top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    cursor: default;
}
.selected-icon
{
    color: #252bfc !important;
}
.selected-text
{
    color: #000000 !important;
}
.list-menu-icon
{
    color: #252bfc;
    margin-left: 3px;
}
.list-menu-text
{
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
    color: #404040;
}
