.toolbar-header
{
  position: fixed;

  box-shadow: 1px 1px #f0f0f0;
}
.business-logo-text
{
  font-size: 14px;
  font-weight: 700;
  line-height: 64px;

  display: inline;

  height: 64px;
  margin-left: 10px;

  letter-spacing: 1px;
}
