.toolbar-search-header
{
  position: fixed;

  height: 64px;

  box-shadow: 0 1px #f2f2f2 !important;
}
.search-form
{
  width: 68%;
  margin-left: 121px;
}
.combobox-input
{
  line-height: 64px;

  height: 64px;
}
.query-input
{
  line-height: 64px;

  height: 64px;

  border-left: 1px solid #c9c9c9;

  .v-input__slot
  {
    height: 64px;
    margin-bottom: 0;

    border-radius: 0;
    box-shadow: none !important;

    .primary--text
    {
      color: #252bfc !important;
    }
  }
}
.submit-search-form-btn
{
  font-size: 14px;
  line-height: 64px;

  width: 100%;
  height: 64px;

  letter-spacing: 2px;
  text-transform: uppercase;

  color: #000;
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  outline: none;
  background-color: #fff;

  &:hover
  {
    transition: background-color 200ms linear;

    color: #fff;
    background-color: #252bfc;

    .btn-icon
    {
      transition: background-color 200ms linear;

      color: #fff;
    }
  }

  .btn-icon
  {
    position: relative;
    top: 3px;
  }
}
.mobile-search-icon
{
}
@media only screen and (max-width: 600px)
{
  // .toolbar-search-header
  // {
  //   height: 54px;
  // }
  .toolbar-title
  {
    margin-left: 6px!important;
  }
}
