.toolbar-header
{
  position: fixed;

  box-shadow: 1px 1px #f0f0f0;
}
.toolbar-title
{
  margin-left: 0px;
}
.business-logo-text
{
  font-size: 14px;
  font-weight: 700;
  line-height: 64px;

  display: inline;

  height: 64px;

  letter-spacing: 1px;
}
@media only screen and (max-width: 600px)
{
  .toolbar-title
  {
    margin-left: 6px;
  }
}
