@media only screen and (max-width: 600px)
{
    .footer-container
    {
        padding-top: 20px;
    }
    .footer-section
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .description
    {
      line-height: 1.8;
    }
    .link-section
    {
        .link-icon
        {
            margin-right: 10px;
        }
    }
    .copyright-section
    {
        height: 80px;
        line-height: 80px;
    }
    .email-link
    {
        padding-left: 10px;
    }
    .copyright
    {
        padding-right: 10px;
    }
}
