@media only screen and (max-width: 600px)
{
  .map-image-section
  {
    padding-top: 40px;
    padding-bottom: 40px;

    .text-section
    {
      top: 40%;

      .text
      {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
